<!DOCTYPE html>
<html ng-app="bercathon">
  <head>
    <title><%=blocks.title%></title>
    <%- include header %>

    <script>
    </script>

  </head>
  <body ng-controller="AppController as self">
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned dimmable dimmed segment cover">
        <div class="ui simple dimmer">
          <div class="ui container">
            <h1 class="ui inverted header" style="margin-top:4em">
              Emissions Renditions
            </h1>
            <div class="ui inverted divider"></div>
            <h2>The Great American Greenhouse</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="ui fitted basic segment">
      <div class="ui center aligned two column page grid">
        <div class="column main">
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </body>
  <%- include footer %>
</html>