<!DOCTYPE html>
<html ng-app="bercathon">
  <head>
    <title><%=blocks.title%></title>
    <%- include header %>

    <script>
    </script>

  </head>
  <body ng-controller="AppController as self">
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned dimmable dimmed segment cover">
        <div class="ui simple dimmer">
          <div class="ui container">
            <h1 class="ui inverted header" style="margin-top:4em">
              Emissions Renditions
            </h1>
            <div class="ui inverted divider"></div>
            <h2>The Great American Greenhouse</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="ui fitted basic center aligned segment">
      <div class="ui center aligned one column page grid">
        <div class="column main">
          <h1 class="ui header">
            <div class="content">
              Emissions Choropleth by County - 2011
              <div class="sub header">Click on a county to learn more!</div>
            </div>
          </h1>
        </div>
      </div>
    </div>
    <div class="ui fitted basic center aligned segment">
      <h1 class="ui icon header" ng-show="showStats">
        <i class="database icon"></i>
        <div class="content">
          Statistics
          <div class="sub header">Let's get those numbers down!</div>
        </div>
      </h1>
      <div class="ui divider">
      </div>
      <div class="ui center aligned two column page grid">
        <div class="column">
          <div class="ui segment" ng-if="showStats">
            <svg id="test2" class="mypiechart"></svg>
          </div>
        </div>
        <div class="column">
          <div class="ui center aligned segment" ng-if="showStats">
            <div class="ui huge header">{{current.name}} county in {{current.state}}</div>
            <div class="ui divider donut">
            </div>
            <br>
            <div class="ui three statistics">
              <div class="statistic">
                <div class="value">
                  {{current.sulfur | number:0}}
                </div>
                <div class="label">
                  tons SO<sub>2</sub>
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  {{current.nox | number:0}}
                </div>
                <div class="label">
                  tons NO + NO<sub>2</sub>
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  {{current.voc | number:0}}
                </div>
                <div class="label">
                  tons VOC's
                </div>
              </div>
            </div>
            <br>
            <div class="ui divider">
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include footer %>
</html>